USE [master]
GO
/****** Object:  Database [MobileMKS]    Script Date: 18.07.2025 12:44:02 ******/
CREATE DATABASE [MobileMKS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MobileMKS_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\MobileMKS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MobileMKS_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\MobileMKS.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MobileMKS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MobileMKS]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 18.07.2025 12:44:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buses]    Script Date: 18.07.2025 12:44:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Number] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_Buses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusRouteDirections]    Script Date: 18.07.2025 12:44:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusRouteDirections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BusId] [int] NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_BusRouteDirections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusRoutes]    Script Date: 18.07.2025 12:44:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusRoutes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BusRouteDirectionId] [int] NULL,
	[DayOfWeek] [int] NOT NULL,
	[RouteInfo] [nvarchar](max) NULL,
 CONSTRAINT [PK_BusRoutes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusRouteStops]    Script Date: 18.07.2025 12:44:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusRouteStops](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BusStopId] [int] NULL,
	[BusRouteDirectionId] [int] NULL,
	[Order] [int] NOT NULL,
 CONSTRAINT [PK_BusRouteStops] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusStops]    Script Date: 18.07.2025 12:44:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusStops](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
 CONSTRAINT [PK_BusStops] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departures]    Script Date: 18.07.2025 12:44:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Hour] [int] NOT NULL,
	[Minute] [int] NOT NULL,
	[BusRouteId] [int] NULL,
	[BusId] [int] NULL,
	[BusStopId] [int] NULL,
 CONSTRAINT [PK_Departures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240518150603_SixClasses', N'8.0.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240519154544_SixClasses2', N'8.0.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240520160427_SixClasses3', N'8.0.4')
GO
SET IDENTITY_INSERT [dbo].[Buses] ON 

INSERT [dbo].[Buses] ([Id], [Number]) VALUES (1, N'202')
INSERT [dbo].[Buses] ([Id], [Number]) VALUES (2, N'223')
INSERT [dbo].[Buses] ([Id], [Number]) VALUES (3, N'108')
SET IDENTITY_INSERT [dbo].[Buses] OFF
GO
SET IDENTITY_INSERT [dbo].[BusRouteDirections] ON 

INSERT [dbo].[BusRouteDirections] ([Id], [BusId], [Name]) VALUES (1, 1, N'MEDYNIA GŁOG., ZADWÓR PĘTLA')
INSERT [dbo].[BusRouteDirections] ([Id], [BusId], [Name]) VALUES (2, 1, N'RZESZÓW D.A.')
INSERT [dbo].[BusRouteDirections] ([Id], [BusId], [Name]) VALUES (3, 2, N'NIECHOBRZ, GÓRA, PĘTLA')
SET IDENTITY_INSERT [dbo].[BusRouteDirections] OFF
GO
SET IDENTITY_INSERT [dbo].[BusRoutes] ON 

INSERT [dbo].[BusRoutes] ([Id], [BusRouteDirectionId], [DayOfWeek], [RouteInfo]) VALUES (44, 1, 0, N'[3,7]')
INSERT [dbo].[BusRoutes] ([Id], [BusRouteDirectionId], [DayOfWeek], [RouteInfo]) VALUES (47, 1, 2, N'[3]')
INSERT [dbo].[BusRoutes] ([Id], [BusRouteDirectionId], [DayOfWeek], [RouteInfo]) VALUES (48, 1, 0, N'[4]')
SET IDENTITY_INSERT [dbo].[BusRoutes] OFF
GO
SET IDENTITY_INSERT [dbo].[BusRouteStops] ON 

INSERT [dbo].[BusRouteStops] ([Id], [BusStopId], [BusRouteDirectionId], [Order]) VALUES (1, 1, 1, 1)
INSERT [dbo].[BusRouteStops] ([Id], [BusStopId], [BusRouteDirectionId], [Order]) VALUES (2, 2, 1, 2)
INSERT [dbo].[BusRouteStops] ([Id], [BusStopId], [BusRouteDirectionId], [Order]) VALUES (3, 3, 1, 3)
SET IDENTITY_INSERT [dbo].[BusRouteStops] OFF
GO
SET IDENTITY_INSERT [dbo].[BusStops] ON 

INSERT [dbo].[BusStops] ([Id], [Name], [Latitude], [Longitude]) VALUES (1, N'RZESZÓW D.A.', 50.0433911, 22.0031541)
INSERT [dbo].[BusStops] ([Id], [Name], [Latitude], [Longitude]) VALUES (2, N'RZESZÓW, MARSZAŁKOWSKA 02/03', 50.0469472, 21.9989876)
INSERT [dbo].[BusStops] ([Id], [Name], [Latitude], [Longitude]) VALUES (3, N'RZESZÓW, LUBELSKA SZPITAL', 50.0488371, 21.9991714)
SET IDENTITY_INSERT [dbo].[BusStops] OFF
GO
SET IDENTITY_INSERT [dbo].[Departures] ON 

INSERT [dbo].[Departures] ([Id], [Hour], [Minute], [BusRouteId], [BusId], [BusStopId]) VALUES (1, 4, 50, 44, 1, 1)
INSERT [dbo].[Departures] ([Id], [Hour], [Minute], [BusRouteId], [BusId], [BusStopId]) VALUES (2, 4, 55, 44, 1, 2)
INSERT [dbo].[Departures] ([Id], [Hour], [Minute], [BusRouteId], [BusId], [BusStopId]) VALUES (3, 4, 56, 44, 1, 3)
GO
SET IDENTITY_INSERT [dbo].[Departures] OFF
GO
/****** Object:  Index [IX_BusRouteDirections_BusId]    Script Date: 18.07.2025 12:44:03 ******/
CREATE NONCLUSTERED INDEX [IX_BusRouteDirections_BusId] ON [dbo].[BusRouteDirections]
(
	[BusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BusRoutes_BusRouteDirectionId]    Script Date: 18.07.2025 12:44:03 ******/
CREATE NONCLUSTERED INDEX [IX_BusRoutes_BusRouteDirectionId] ON [dbo].[BusRoutes]
(
	[BusRouteDirectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BusRouteStops_BusRouteDirectionId]    Script Date: 18.07.2025 12:44:03 ******/
CREATE NONCLUSTERED INDEX [IX_BusRouteStops_BusRouteDirectionId] ON [dbo].[BusRouteStops]
(
	[BusRouteDirectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BusRouteStops_BusStopId]    Script Date: 18.07.2025 12:44:03 ******/
CREATE NONCLUSTERED INDEX [IX_BusRouteStops_BusStopId] ON [dbo].[BusRouteStops]
(
	[BusStopId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Departures_BusId]    Script Date: 18.07.2025 12:44:03 ******/
CREATE NONCLUSTERED INDEX [IX_Departures_BusId] ON [dbo].[Departures]
(
	[BusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Departures_BusRouteId]    Script Date: 18.07.2025 12:44:03 ******/
CREATE NONCLUSTERED INDEX [IX_Departures_BusRouteId] ON [dbo].[Departures]
(
	[BusRouteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Departures_BusStopId]    Script Date: 18.07.2025 12:44:03 ******/
CREATE NONCLUSTERED INDEX [IX_Departures_BusStopId] ON [dbo].[Departures]
(
	[BusStopId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BusRouteDirections] ADD  DEFAULT (N'') FOR [Name]
GO
ALTER TABLE [dbo].[BusRoutes] ADD  DEFAULT ((0)) FOR [DayOfWeek]
GO
ALTER TABLE [dbo].[BusStops] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [Latitude]
GO
ALTER TABLE [dbo].[BusStops] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [Longitude]
GO
ALTER TABLE [dbo].[BusRouteDirections]  WITH CHECK ADD  CONSTRAINT [FK_BusRouteDirections_Buses_BusId] FOREIGN KEY([BusId])
REFERENCES [dbo].[Buses] ([Id])
GO
ALTER TABLE [dbo].[BusRouteDirections] CHECK CONSTRAINT [FK_BusRouteDirections_Buses_BusId]
GO
ALTER TABLE [dbo].[BusRoutes]  WITH CHECK ADD  CONSTRAINT [FK_BusRoutes_BusRouteDirections_BusRouteDirectionId] FOREIGN KEY([BusRouteDirectionId])
REFERENCES [dbo].[BusRouteDirections] ([Id])
GO
ALTER TABLE [dbo].[BusRoutes] CHECK CONSTRAINT [FK_BusRoutes_BusRouteDirections_BusRouteDirectionId]
GO
ALTER TABLE [dbo].[BusRouteStops]  WITH CHECK ADD  CONSTRAINT [FK_BusRouteStops_BusRouteDirections_BusRouteDirectionId] FOREIGN KEY([BusRouteDirectionId])
REFERENCES [dbo].[BusRouteDirections] ([Id])
GO
ALTER TABLE [dbo].[BusRouteStops] CHECK CONSTRAINT [FK_BusRouteStops_BusRouteDirections_BusRouteDirectionId]
GO
ALTER TABLE [dbo].[BusRouteStops]  WITH CHECK ADD  CONSTRAINT [FK_BusRouteStops_BusStops_BusStopId] FOREIGN KEY([BusStopId])
REFERENCES [dbo].[BusStops] ([Id])
GO
ALTER TABLE [dbo].[BusRouteStops] CHECK CONSTRAINT [FK_BusRouteStops_BusStops_BusStopId]
GO
ALTER TABLE [dbo].[Departures]  WITH CHECK ADD  CONSTRAINT [FK_Departures_Buses_BusId] FOREIGN KEY([BusId])
REFERENCES [dbo].[Buses] ([Id])
GO
ALTER TABLE [dbo].[Departures] CHECK CONSTRAINT [FK_Departures_Buses_BusId]
GO
ALTER TABLE [dbo].[Departures]  WITH CHECK ADD  CONSTRAINT [FK_Departures_BusRoutes_BusRouteId] FOREIGN KEY([BusRouteId])
REFERENCES [dbo].[BusRoutes] ([Id])
GO
ALTER TABLE [dbo].[Departures] CHECK CONSTRAINT [FK_Departures_BusRoutes_BusRouteId]
GO
ALTER TABLE [dbo].[Departures]  WITH CHECK ADD  CONSTRAINT [FK_Departures_BusStops_BusStopId] FOREIGN KEY([BusStopId])
REFERENCES [dbo].[BusStops] ([Id])
GO
ALTER TABLE [dbo].[Departures] CHECK CONSTRAINT [FK_Departures_BusStops_BusStopId]
GO
USE [master]
GO
